<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <p>name: <input id="name" type="text" /></p>
        <p>email: <input id="email" type="text" /></p>
        <p>username: <input id="username" type="text" /></p>
        <p>password: <input id="password" type="text" /></p>
        <p>
            type:
            <select id="type">
                <option value="admin">admin</option>
                <option value="student">student</option>
            </select>
        </p>
        <p>
            <input
                id="button"
                type="button"
                onclick="register()"
                value="register"
            />
        </p>

        <script type="text/javascript" src="../assets/register.js"></script>
    </body>
</html>
